#root {
  text-align: center;
}
#navbarid {
    padding-left: 35%;
  }
@media (max-width: 900px) {
    #navbarid {
      padding-left: 15%;
    }
    .me-auto{
        display: flex;
        flex-direction: row !important;
        gap: 12;
    }
  }

  @media (max-width: 600px) {
    #navbarid {
      padding-left: 20%;
    }
    .me-auto{
        display: flex;
        flex-direction: column !important;
        gap: 12;
    }
  }
